<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SkoolniachConnectionString" connectionString="Data Source=LAPTOP-7J5EIHM9\ABHINAV;Initial Catalog=Skoolniach;User ID=sa;Password=Abc@123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>